body{
     background:url(../image/370797.jpg);
	 background-size:100% 1555px;
	 background-repeat:no-repeat;
	 	
	}
*{
     margin:0;
	 padding:0;	
	}


.imo{margin:10px;
     width:10px;;}

	
#image{
	padding:12px;
	width:320px;}
	
#img{
	padding:10px;
	margin-right:10px;
	height:400px;
	width:950px;}

	
#flex-hi{
	display:flex;
	direction:row;}
	

.trea{
	height:150px;
	width:200px;
	margin:20px auto;
	overflow:hidden;}

.conta{
	width:200px;
	height:150px;
	background-color:transparent;
	-webkit-transition: -webkit-transform 300ms;}

.trea:hover img{
	-webkit-transform: scale(1.5,1.5) rotate(10deg);}
 
 .trea:hover .conta{
	  -webkit-transform:translateY(-205px);}

.tre{
	height:150px;
	width:200px;
	margin:20px auto;
	overflow:hidden;}

.contan{
	width:200px;
	height:150px;
	background-color:transparent;
	-webkit-transition: -webkit-transform 300ms;}

.tre:hover img{
	-webkit-transform: scale(1.5,1.5) rotate(10deg);}
 
 .tre:hover .contan{
	  -webkit-transform:translateY(-205px);}
.real{
	height:150px;
	width:200px;
	margin:20px auto;
	overflow:hidden;}

.cont{
	width:200px;
	height:150px;
	background-color:transparent;
	-webkit-transition: -webkit-transform 300ms;}

.real:hover img{
	-webkit-transform: scale(1.5,1.5) rotate(10deg);}
 
 .real:hover .cont{
	  -webkit-transform:translateY(-205px);}
  
 
 .main{
	height:150px;
	width:200px;
	margin:20px auto;
	overflow:hidden;}

 .main:hover img{
	-webkit-transform: scale(1.5,1.5) rotate(10deg);}

  .main:hover .content{
	  -webkit-transform:translateY(-205px);}
  
img{
	-webkit-transition: -webkit-transform 300ms;
	}
.content{
	width:200px;
	height:150px;
	background-color:transparent;
	-webkit-transition: -webkit-transform 300ms;}

button{
	border:hidden;
	width:100%;
	height:50px;
	margin-top:50px;
	background:transparent;
	cursor:pointer;
	color:#666;
	font:15px "Courier New", Courier, monospace;}

button:hover{
	opacity:0.5; }
	
#rec{
	margin-left:25px;}

#wrapper{
	width:970px;
	margin:auto;
	padding:10px;
	background-color:#FFF;
	}
#header{
	width:auto;
	height:auto;
	}
	
#flex-header{
	display:flex;
	flex-direction:row;}
	
.flex-header-item{
	padding:5px;
	font-size:14px;
	margin:10px;
    line-height:65px;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif}

.flex-header-item-one{
	margin-left:25px;}
	
.orange{
	background-color:#FFF;
	color:#F90;}
	
.grey{
	background-color:#FFF;
	color:#989592;}
		
.flex-header-item :hover{
	background-color:#FFF;
	color:#333;}
	
.flex-header-item-one :hover{
	background-color:#FFF;
	color:#666;}
	

#bodypart{
	border:1px dotted grey;
	margin-top:2px;
	margin:auto;}
	
#title{
	margin-left:150px;
	font-family:Impact, Charcoal, sans-serif;
	font-size:20px;
	color:#999;}
#rec{
	font-size:14px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#3C3C3C;}

#tit{
	margin-left:70px;
	font-family:Impact, Charcoal, sans-serif;
	font-size:20px;
	color:#999;}


.info-container{
	display:flex;
	direction:row;
	float:left;
	margin-bottom:20px;}

.info-icon{
	float:left;}
	
.info-text-container{
	width:180px;
	margin-left:10px;
	}

.info-text-heading{
	font-weight:800;
	margin-top:10px;}

.info-text-discription{
	margin-top:10px;}