body{
     background:url(../image/370797.jpg);
	 background-size:100% 1555px;
	 background-repeat:no-repeat;
	 	
	}
*{
     margin:0;
	 padding:0;	
	}
	
#image{
	padding:12px;
	width:320px;
	}
#img{
	padding:10px;}

#wrapper{
	border:1px solid;
    border-radius:5px;
	width:970px;
	margin:auto;
	padding:10px;
	background-color:#FFF;
	}
#header{
	border:0px solid;
	width:auto;
	margin:0;
	height:auto;
	}
	
#flex-header{
	display:flex;
	flex-direction:row;}
	
.flex-header-item{
	padding:5px;
	font-size:14px;
	margin:10px;
    line-height:65px;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif}

.orange{
	background-color:#FFF;
	color:#F90;}
		
.flex-header-item :hover{
	background-color:#FFF;
	color:#F60;}
	
#bodypart{
	border:1px dotted black;
	margin-top:2px;}
	
#title{
	margin-left:150px;
	font-family:Impact, Charcoal, sans-serif;
	font-size:20px;
	color:#999;}

#tit{
	margin-left:70px;
	font-family:Impact, Charcoal, sans-serif;
	font-size:20px;
	color:#999;}